CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
locale/**/*.mo
.DS_Store
_*_build/
deploy_key
.venv
venv
output
*.pyc
_theme/tarantool/static/design.css.map
.*.swp
.idea
rocks
.vscode/

# Crowdin API key
apikey.txt

# README copied to contributor docs
/doc/contributing/docs/_includes/README.rst


locale/*
!locale/ru

# redundant folders created by sphinx

/locale/book/LC_MESSAGES/
/locale/dev_guide/LC_MESSAGES/
/locale/reference/LC_MESSAGES/
/locale/tutorials/LC_MESSAGES/
/locale/getting_started/LC_MESSAGES/
/locale/archive/LC_MESSAGES/
/locale/contributing/LC_MESSAGES/

# cartridge submodule

/doc/book/cartridge/
/locale/en/book/cartridge/
/locale/ru/LC_MESSAGES/book/cartridge/
/locale/book/cartridge/en

# monitoring submodule

/doc/book/monitoring/
/locale/en/book/monitoring/
/locale/ru/LC_MESSAGES/book/monitoring/

# luatest submodule

/doc/reference/reference_rock/luatest/classes/
/doc/reference/reference_rock/luatest/modules/
/doc/reference/reference_rock/luatest/topics/
/doc/reference/reference_rock/luatest/README.rst
/doc/reference/reference_rock/luatest/_includes/index.rst

/locale/en/reference/reference_rock/luatest/classes/
/locale/en/reference/reference_rock/luatest/modules/
/locale/en/reference/reference_rock/luatest/topics/
/locale/en/reference/reference_rock/luatest/index.pot
/locale/en/reference/reference_rock/luatest/README.pot

/locale/ru/LC_MESSAGES/reference/reference_rock/luatest/README.po
/locale/ru/LC_MESSAGES/reference/reference_rock/luatest/index.po
/locale/ru/LC_MESSAGES/reference/reference_rock/luatest/topics/
/locale/ru/LC_MESSAGES/reference/reference_rock/luatest/modules/
/locale/ru/LC_MESSAGES/reference/reference_rock/luatest/classes/

# tntcxx submodule

/doc/how-to/getting_started_cxx.rst
/doc/how-to/_includes
/doc/book/connectors/cxx/
