CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
locale/**/*.mo
.DS_Store
_*_build/
deploy_key
.venv
output
*.pyc
_theme/tarantool/static/design.css.map
.*.swp
.idea
rocks
.vscode/
/locale/book/LC_MESSAGES/
/locale/dev_guide/LC_MESSAGES/
/locale/reference/LC_MESSAGES/
/locale/tutorials/LC_MESSAGES/
/locale/getting_started/LC_MESSAGES/
/doc/book/cartridge/cartridge_api/
/doc/book/cartridge/cartridge_cli.rst
/doc/book/cartridge/cartridge_cli/
/locale/ru/LC_MESSAGES/book/cartridge/
/locale/book/cartridge/
/doc/book/cartridge/
