[submodule "modules/cartridge"]
	path = modules/cartridge
	url = https://github.com/tarantool/cartridge.git
[submodule "modules/cartridge-cli"]
	path = modules/cartridge-cli
	url = https://github.com/tarantool/cartridge-cli.git
[submodule "modules/metrics"]
	path = modules/metrics
	url = https://github.com/tarantool/metrics.git
[submodule "modules/luatest"]
	path = modules/luatest
	url = https://github.com/tarantool/luatest
[submodule "modules/tarantool-operator"]
	path = modules/tarantool-operator
	url = https://github.com/tarantool/tarantool-operator.git
[submodule "modules/grafana-dashboard"]
	path = modules/grafana-dashboard
	url = https://github.com/tarantool/grafana-dashboard
[submodule "modules/tntcxx"]
	path = modules/tntcxx
	url = https://github.com/tarantool/tntcxx.git
[submodule "modules/tracing"]
	path = modules/tracing
	url = https://github.com/tarantool/tracing
