@icon-left: data-uri("data:image/png;base64", "icons/icon-left.png");

.b-downloads-top .line-block {
    padding-bottom: 20px;
}

dl.class, dl.type, dl.enum {
    &>dt>.b-doc-flink>.b-doc-flink_right {
        background: cornsilk;
    }
}

dl.function, dl.varfunc, dl.method, dl.macro, dl.operator {
    &>dt>.b-doc-flink>.b-doc-flink_right {
        background: aliceblue;
    }
}

dl.data, dl.enumerator {
    &>dt>.b-doc-flink>.b-doc-flink_right {
        background: linen;
    }
}

.b-article {
    h1 {
        font-size: 22px;
        line-height: 1em;
        margin-bottom: 16px;
    }
    h4, h5, h6 {
        font-weight: bold;
    }
    ol, ul {
        padding-left: 1.25em;
        margin: 0 0 1em 0;
    }
    li {
        padding: 0;
        padding-bottom: 0.4em;
        &:last-child {
            padding-bottom: 0;
        }
    }

    dl.function>dt, dl.data>dt, dl.class>dt, dl.varfunc>dt, dl.method>dt,
    dl.type>dt, dl.enum>dt, dl.enumerator>dt, dl.macro>dt, dl.operator>dt,
    h2, h3, h4, h5, h6 {
        margin-left: -25px;
        &:hover .headerlink {
            opacity: 1;
        }
    }

    dl.function>dt, dl.data>dt, dl.class>dt, dl.varfunc>dt, dl.method>dt,
    dl.type>dt, dl.enum>dt, dl.enumerator>dt, dl.macro>dt, dl.operator>dt {
        margin-bottom: 10px;

        & dd {
            margin-start: 20px;
        }
    }
    ol.arabic {
        list-style-type: decimal
    }
    ul.simple {
        list-style-type: disc
    }
}

.b-downloads-top {
    .b-block-wrapper {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .b-section-title {
        margin: 0 0 20px 0;
    }
}

.b-downloads {
    .dropdown-list-item-content>ul {
        list-style-type: none;
        &>li {
            font-size:16px;
            padding-bottom: 7px;
            &:before {
                content: '-';
                padding-right: 7px;
            }
            &:last {
                padding-bottom: 0px;
            }
        }
    }
}

.toctree-wrapper>ul,
.toctree-l1>ul {
    list-style:none;
}

.toctree-wrapper>ul {
    margin: 0 0 0 70px;
}

.toctree-wrapper {
    .caption {
        padding-bottom: 7px;
    }
    &>ul {
        margin-left: 15px;
    }
}

.toctree-l1 {
    margin:0 0 10px 0;
    &>a {
        color:#168de2;

        font-size:20px;
        margin:0;
        text-decoration:none;
        &:hover {
            text-decoration:underline;
        }
    }
    &>ul {
        /* padding:6px 0 0 18px; */
        margin-top: 10px;
    }
    li {
        list-style-type: none;
    }

}

.toctree-l2 {
    font-size:16px;
    color:#797979;
    line-height:1.2em;
    /* padding:0 0 8px 0; */
    a {
        color:inherit;
    }
    &:before {
        content:'-';
        display:inline-block;
        float:left;
        margin:0 0 0 -11px;
    }
}

.b-cols_content_left {
    .toctree-l1 {
        margin-bottom: 5px;
        &>ul {
            margin-top: 0px;
        }
    }
    .b-menu-toc {
        padding: 0 10px;
        float: left;
        position: relative;
        i:hover {
            cursor: pointer
        }
        ul {
            padding-left: 20px;
            margin: 5px 0;
        }
        &>ul {
            margin: 20px 0;
        }
        li>i, li>a {
            display: table-cell;
        }
        .toctree-l1 {
            ul {
                display: none;
            }
        }
    }
}


div.toctree-wrapper {
    padding: 0px 0px 0px 20px;
    &>ul {
        margin:0;
        padding:0;
        display:block;
        list-style:none;
    }
}

.current,
.toctree-wrapper {
    li:last-child {
        padding-bottom: 0px;
    }
    li.toctree-l1 {
        margin-bottom: 7px;
    }

}

.section {
    padding-top: 0.75em;
    &:first-child {
        padding-top: 0;
    }
    .toctree-wrapper ul {
        padding: 0 0 0 30px;
    }
}

.b-menu-toc .toctree-l2,
.b-menu-toc .toctree-l2 li {
    a {
        line-height: 1.05em;
    }
    padding-bottom: 0.3em;
    &:last-child {
        padding-bottom: inherit;
    }
}

.container.faq {
    /* font-size: 16px; */
    .field-odd {
        .field-name, .field-body {
            padding-bottom: 0.2em;
        }
    }
    .field-even {
        .field-name, .field-body {
            padding-bottom: 2.5em;
        }
    }
    .field-even:last-child {
        .field-name, .field-body {
            padding-bottom: 0em;
        }
    }
    p {
        padding: inherit;
        padding-left: 0;
        padding-bottom: 0.75em;
        &:last-child {
            padding-bottom: 0px;
        }
    }
    pre:last-child {
        margin: inherit;
        margin-bottom: 0.75em;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .field-name {
        font-weight: bold;
    }
    .field-body {
        font-weight: normal;
    }
}

.admonition {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    padding: 10px;
    margin: 0;
    margin-bottom: 0.75em;

    &.note    { background: rgb(223,223,223); };
    &.warning { background: rgb(255,228,228); };
    &.fact    { background: rgb(255,255,204); };

    .admonition-title {
        font-weight: bold;
        padding: 0 0 0.75em 0;
        .fa {
            margin: 0 10px 0 0;
        }
    }
}

.b-doc-flink {
    display: table;

    .b-doc-flink_left {
        vertical-align: middle;
        display: table-cell;
        min-width: 1.5em;
        padding-right: 0.25em
    }

    .b-doc-flink_right {
        width: 100%;
        font-size: 14px;
        display: table-cell;
        padding: 0.5em 0px 0.5em 0.75em;
        em, code, span, big {
            font-size: inherit;
        }
    }
}

.b-doc-hlink {
    display: table;

    .b-doc-hlink_left {
        vertical-align: middle;
        display: table-cell;
        width:   25px;
    }

    .b-doc-hlink_right {
        display: table-cell;
        em, code, span, big {
            font-size: inherit;
        }
    }
}

#tarantool-documentation .toctree-wrapper {
    padding: 0px;

    &>ul {
        padding:         0px;
        display:         flex;
        display:         -webkit-flex;
        flex-wrap:       wrap;
        justify-content: space-around;

        li::before {
            content: '';
        }

        &>li {
            margin-bottom: 15px;
            margin-top:    15px;
            border: 1px solid grey;
            padding: 25px;
            width:     40%;
            border-radius: 15px;
            background: #ffffff;
            background: linear-gradient(to bottom left, #e8e8e8, #ffffff);
        }
    }
}

@media screen and (max-width: 992px) {
    .b-article {
        h1 {
            font-size: 18px;
        }
        p {
            padding-bottom: 0.75em;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .b-block-wrapper {
        div.toctree-wrapper {
            padding: 0;
        }
        .toctree-wrapper>ul {
            margin: 0 0 50px;
        }
        li.toctree-l1>a {
            &>a {
                font-size: 16px;
                line-height: 20px;
            }
            &>ul {
                padding: 0 0 0 20px;
                margin: 10px 0 0;
            }
        }
        .toctree-l2 a {
            font-size: 14px;
        }
        .current li.toctree-l1,
        .toctree-wrapper li.toctree-l1 {
            margin-bottom: 20px;
        }
    }
    .b-cols_content {
        .b-menu-toc {
            position: absolute;
            display: none;
            left: 0 ;
            top: 0;
            width: 332px;
            max-width: 100%;
            height: ~"calc(100% + 30px)" !important;
            z-index: 30;
            background-color: #f5f5f5;
            overflow: auto;
            &.active {
                display: block;
                min-height: ~"calc(100vh - 127px)";
                padding-right: 15px;
            }
            &>ul {
                padding-left: 30px;
            }
            .b-cols_content_left {
                padding: 0 25px;
                box-sizing: border-box;
                background-color: #f5f5f5;
                width: 332px !important;
                position: static !important;
                max-width: 100%;
            }
            li.toctree-l1>a {
                font-size: 16px;
                font-weight: 700;
            }
            .toctree-l1>ul {
                padding: 15px 0 12px 11px;
                margin: 0;
            }
            & .current li.toctree-l1,
            &.toctree-wrapper li.toctree-l1 {
                margin-bottom: 15px;
            }
            li.toctree-l2 a,
            li.toctree-l3 a,
            li.toctree-l4 a,
            li.toctree-l5 a,
            li.toctree-l6 a{
                font-size: 14px;
            }
            .toctree-l2,
            .toctree-l3,
            .toctree-l4,
            .toctree-l5,
            .toctree-l6 {
                padding-bottom: 20px;
            }
            .b-cols_content_left ul {
                margin: 30px 0 0;
            }
        }
    }
    div div.toctree-wrapper {
        padding: 0;
    }
    div div.toctree-wrapper>ul {
        margin: 0;
    }
    div .current li.toctree-l1,
    div .toctree-wrapper li.toctree-l1 {
        margin-bottom: 15px;
    }
    ul li.toctree-l1>a {
        font-size: 16px;
    }
    ul .toctree-l2 a,
    ul .toctree-l3 a,
    ul .toctree-l4 a,
    ul .toctree-l5 a,
    ul .toctree-l6 a {
        font-size: 14px;
    }
    .toggle-navigation {
        padding-left: 25px;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 11px;
            height: 16px;
            background: @icon-left no-repeat;
            transform: rotate(180deg);
        }
        &.active::before {
            transform: none;
        }
    }
    #tarantool-documentation .toctree-wrapper>ul {
        margin-bottom: 0px;

        &>li {
            width: 100%;
            margin-bottom: 10px;
            margin-top:    10px;
            padding-left:  0px;
            padding-right: 0px;

            &>a {
                padding-left: 25px;
            }
            &>ul {
                padding-left: 55px;
            }

            &:first-of-type {
                margin-top: 20px;
            }
            &:last-of-type {
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .b-cols_content {
        .b-menu-toc {
            &.active {
                display: block;
                min-height: ~"calc(100vh - 110px)";
            }
            &>ul {
                padding-left: 30px;
            }
            .b-cols_content_left {
                padding: 0 15px;
            }
        }
    }
}
