.b-tcontents .b-block-wrapper {
    padding-top:35px;
}
.b-tcontents_full-list,
.b-tcontents_full-sublist {
    margin:0;
    padding:0;
    display:block;
    list-style:none;
}
.b-tcontents_full-list,
.b-tcontents_full-sublist {
    list-style:none;
}
.b-tcontents_full-list {

}
.b-tcontents_full-list-item {
    margin:0 0 28px 0;
}
.b-tcontents_full-list-item-title {
    color:#404040;
    font-size:16px;
    margin:0;
}
.b-tcontents_full-list-item-title a {
    color:inherit;
    text-decoration:none;
}
.b-tcontents_full-list-item.p-active .b-tcontents_full-list-item-title a {
    color:#168de2;
    text-decoration:underline;
}
.b-tcontents_full-list-item-desc {
    color:#767676;
    font-size:12px;
    padding:0;
}
.b-tcontents_full-sublist {
    padding:14px 0 0 18px;
}
.b-tcontents_full-sublist-item {
    font-size:12px;
    color:#404040;
    line-height:1.2em;
    padding:0 0 8px 0;
}
.b-tcontents_full-sublist-item a {
    color:#168de2;
}

div.section>h1 {
    visibility: hidden;
    margin: 0;
    font-size: 0;
}

.p-documentation_in .b-section-title {
    margin:0 0 17px 0;
}
.p-documentation_in .b-block-wrapper {
    padding: 20px 0 21px 0;
}

.faq tr.field-even td {
    padding-bottom: 20px;
}

.b-prev,
.b-next {
    display:inline-block;
    background:#ececec;
    color:#404040;
    font-size:14px;
    text-decoration:none;
    padding:3px 11px 4px 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-width: 200px;
}
.b-prev:hover,
.b-next:hover {
    text-decoration:none;
    color:#404040;
}
.b-prev:before,
.b-next:after {
    vertical-align:middle;
    margin:0 9px 0 0;
    content:'';
    display:inline-block;
    width: 5px;
    height: 10px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKBAMAAACOF4kDAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAAC3RSTlMAs62OCIV8cj80DyOnhogAAAAlSURBVAjXY2DgMmBgcBZgYAlUYGATmsBQKMEAwiA2SAwkB1IDAFc2BGddDNbMAAAAAElFTkSuQmCC') -0px -0px no-repeat;
}

.b-next:after {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin:0 0 0 9px;
}
.b-next {
    float: right;
}
.b-page_over-head {
    margin: -13px 0 0 0;
}
.b-page_over-tail {
    margin: 25px 0 -50px 0;
}

.b-page_header {
    margin-bottom: 10px;
    padding-top: 4px;
}

table.docutils.footnote {
    font-size: 14px;
}

tr.field td p {
    padding: 0px;
}

.b-cols_content {
    width:960px;
    margin:0 auto;
    padding:0 0 30px 0;
}
.b-cols_content_left {
    position:relative;
    float:left;
    width:295px;
    padding:15px 0 0 0;
}
.b-cols_content_right {
    float:right;
    width:100%;
    margin:0 0 0 -295px;
}
.b-cols_content_right-slot {
    margin:0 0 0 340px;
    padding:18px 0 0 0;
}

.p-cols_design .b-wrapper {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAEAAAAAARAQMAAABnOfukAAAABlBMVEUAAAD19fWydBufAAAAAXRSTlMAQObYZgAAADZJREFUaN7t0gEBAAAIAiD/n7YBTRA2kO4InwDruiMIgAAIgAAIgAAIsK47ggAIgAAIgAAIwAHksoxHlAvP9AAAAABJRU5ErkJggg==') 50% -0px repeat-y;
}

.descname {
    font-weight: 600;
}

dd table.field-list {
    margin-top: 10px;
}

td.field-body {
    padding-left: 10px;
    padding-bottom: 10px;
}

th.field-name {
    text-align: left;
    font-weight: normal;
}

/*
table.docutils.field-list {
    font-size: 13px;
}
*/

div.table tbody {
    vertical-align: middle;
    text-align: center;
}

div.table td {
    padding: 5px 15px;
}

p.caption {
    padding-bottom: 22px;
    font-size:      24px;
    font-weight:    bold;
}

#search-results h2 {
    margin-left: 0px;
}

ul.search {
    margin-left: 10px;
}

ul.search li div.context {
    margin-top: 5px;
}

div.b-cols_content_left #searchbox {
    width: 267px;
}

div.b-cols_content_left .b-search-text {
    width: 240px;
}

.b-documentation_top .b-section-title {
    float: left;
    max-width: 820px;
}

.b-documentation_top .b-search {
    float: right;
}

.b-cols_content_left

.b-switcher-item-url {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.b-tab_switcher {
    display:inline-block;
    border:2px solid #797979;
    background:#fff;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    font-size: 0;
    padding: 0px !important;
    margin: 0;
}

.b-tab_switcher-item {
    display:inline-block;
    font-size:16px;
    color:#262626;
    border-right:2px solid #797979;
    padding: 0px !important;
}
.b-tab_switcher-item:last-child {
    border: 0;
}
.b-tab_switcher-item-url {
    display:inline-block;
    color:#797979;
    text-decoration:none;
    padding:8px 19px;
    text-transform:uppercase;
}
.b-tab_switcher-item-url:hover {
    background:#c9c9c9;
    color:#fff
}
.b-tab_switcher-item-url.p-active {
    background:#797979;
    color:#fff;
}
.b-tab_switcher-item:first-child .b-tab_switcher-item-url {
    -webkit-border-radius: 4px 0 0 0px;
    -moz-border-radius: 4px 0 0 0px;
    border-radius: 4px 0 0 0px;
}
.b-tab_switcher-item:last-child .b-tab_switcher-item-url {
    -webkit-border-radius: 0 4px 0px 0;
    -moz-border-radius: 0 4px 0px 0;
    border-radius: 0 4px 0px 0;
}

.b-documentation-tab-content {
    border: 2px solid #797979;
    margin-top: -2px;
    padding: 5px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    overflow-y: scroll;
}

.b-documentation-tab div {
    height: 100%;
    overflow-y: hidden;
}

/*
  Classes whose names start with "ccode" are a Tarantool extension,
  see comment in conf.py file: Tarantool custom roles
*/

.ccode, .ccodeb, .ccodei, .ccodebi {
    white-space: pre;
    font-size: 14px;
    font-family: monospace;
}

.ccodeb, .ccodebi {
    font-weight: bold;
}

.ccodei, .ccodebi {
    font-style: italic;
}

.ccodegreen, .ccodebi {
    color: green;
}

.ccodeblue, .ccodebi {
    color: blue;
}

.ccodered, .ccodebi {
    color: red;
}



.leftaligned {
    text-align: left
}

/*
.line-block {
    padding: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: left;
    margin: 5px 0px;
    background: #0d0d0d;
    overflow-x: scroll;
}

.line-block span {
    color: #f8f8f2;
    font-size: 13px;
}

.line-block > .line {
    color: #f8f8f2;
    font-size: 13px;
}
*/

p > code.docutils {
    padding: 0px 1px 0px 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ECECEC;
}

li > code.docutils {
    padding: 0px 1px 0px 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ECECEC;
}

ul.first.last.simple {
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.method code.descclassname {
    font-style: italic;
}

table.left-align-column-1 td {
    text-align: left
}

table.left-align-column-2 td + td {
    text-align: left
}

table.left-align-column-3 td + td + td {
    text-align: left
}

table.left-align-column-4 td + td + td + td {
    text-align: left
}

table.right-align-column-1 td {
    text-align: right
}

table.right-align-column-2 td + td {
    text-align: right
}

table.right-align-column-3 td + td + td {
    text-align: right
}

table.right-align-column-4 td + td + td +td {
    text-align: right
}

table.top-align-column-1 td {
    vertical-align: top
}

table.border-0-column-1 td {
    border: 0px
}

table.border-0-column-2 td {
    border: 0px
}

.-page_over-head,
.b-page_over-tail {
    width: 100%;
    min-width: 100%;
    display: table;
}

.b-page_over-prev,
.b-page_over-lang,
.b-page_over-next {
    display: table-cell;
}

.b-page_over-lang-list {
    margin: 0px;
}

.b-page_over-lang-item {
    position:relative;
    display:inline-block;
    margin-right:-0.29em;
    padding-right:27px;
    vertical-align:top;
}

.b-page_over-lang-item:after {
    content:  '|';
    font-size:18px;
    display:  inline-block;
    position: absolute;
    right:    11px;
    top:      3px;
}

.b-page_over-lang-item:first-child {
    padding-left: 9px;
}

.b-page_over-lang-item:last-child {
    padding-right: 0px;
    margin-right:  0px;
}

.b-page_over-lang-item:last-child:after {
    content: '';
}

.b-page_over-lang-url {
    display: inline-block;
    background: #ececec;
    color: #404040;
    font-size: 14px;
    text-decoration: none;
    padding: 3px 11px 4px 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
}

.b-page_over-lang {
    vertical-align: middle;
}

.b-page_over-prev {
    float: left;
}

.b-page_over-next {
    float: right;
}

.b-documentation_top h2 {
    font-weight: normal;
}

/* for Generated Index */

.b-doc-genindex h2 {
    -webkit-margin-before: 20px;
    -webkit-margin-after: 20px;
    margin-before: 20px;
    margin-after: 20px;
    margin-left: 0px;
}

.b-doc-genindex .genindextable dl {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-before: 0px;
    margin-after: 0px;
}

.b-doc-genindex .genindextable dt {
    padding-bottom: 2px;
}
.b-doc-genindex .genindextable dt:last-child {
    padding-bottom: 0px;
}

/**/

.b-doc-param {
    padding: 0 0 10px 0;
}

.b-doc-param_left  p,
.b-doc-param_right {
    display:   block;
    font-size: 14px;
    padding:   0 0 5px 0;
}

.b-doc-param_left {
    font-weight: bold;
}

.b-doc-param_right {
    padding-left: 10px;
}

.b-doc-param_right ul {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .b-doc-param_left p,
    .b-doc-param_right {
        font-size: inherit;
    }
}

ul.search {
    padding: 0 0 0 20px;
    margin:  0 0 16px 0;
}

.search li {
    padding: 0 0 8px 0;
}

[class|=highlight],
.highlight {
    margin-top: 0px;
    margin-bottom: 0.75em;
}

.highlight .highlight {
    padding: 5px 10px;
    margin-bottom: 0px;
}

dd {
    margin-left: 20px;
}

dl {
    margin-top: 0;
}

li p {
    padding: 0 0 8px 0;
}

li [class|=highlight],
li .highlight  {
    margin: 0 0 8px 0;
}

ul p:last-child,
dd p:last-child,
.admonition p:last-child {
    padding: 0;
}

li dl {
    margin: 0px;
}

.b-doc-param:last-child {
    padding: 0;
}

table.docutils {
    margin-bottom: 20px;
}

.b-path-list-item-url,
.b-path_current {
    max-width: 150px;
}

ul,
ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.b-documentation .b-search {
    margin-bottom: 20px;
}

.icon {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.icon-minus {
    border: 1px solid #aaa;
    width: 7px;
    height: 7px;
    position: relative;
    top: 0;
    left: 0;

}
.icon-minus:after {
    background-color: #aaa;
    width: 7px;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
}

.icon-plus {
    border: 1px solid #aaa;
    width: 7px;
    height: 7px;
    position: relative;
    top: 0;
    left: 0;
}
.icon-plus:after {
    background-color: #aaa;
    width: 7px;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
}
.icon-plus:before {
    background-color: #aaa;
    width: 1px;
    height: 7px;
    position: absolute;
    top: 0px;
    left: 3px;
    content: "";
}

.b-cols_content_left li {
    list-style: none;
}

.b-cols_content_left li:before {
    content: none;
}

.icon {
    position: relative;
}

dd {
    margin: 10px !important;
}

.section>h1 {
    display: none;
}
