
.doc .sidebar_search_form {
    justify-content: flex-end;
}

.doc .sidebar_search_form.doc-header__search_visible {
    justify-content: flex-start;
}

.doc .b-page_over-tail {
    margin-top: 30px;
}

.doc .b-block-lightgray.b-search-block-top {
    padding: 0;
    background: transparent;
    color: #333;
}

.doc .b-search-block .b-block-wrapper {
    padding: 0;
    margin: 0;
}

.doc .b-search-block {
    padding: 0;
    background: transparent;
    color: #333;
}

.doc .b-search-block .b-block-wrapper {
    padding: 0;
    margin: 0;
}
