{% extends "base" %}

{% block header_scripts %}
<script src="js/highcharts_base.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/index_tabs.js"></script>
{% endblock header_scripts %}

{% block content %}
<section class="b-gray_block b-mainhead">
  <div class="b-block-wrapper">
    <!-- <a  href="https://github.com/tarantool/tarantool/" class="b-follow">Follow on</a> -->
    <div class="header-logo"></div>
    <h2 class="b-Tarantool_title-note">{{ page.blocks.header[1] }}</h2>
    <p  class="b-Tarantool_title-text">{{ page.blocks.header[2] }}</p>
    <div class="buttons-header">
      <a class="btn btn-danger" href="http://tarantool.org/download.html">
        <i class="fa fa-download fa-lg"></i>
        DOWNLOAD
      </a>
      <a class="btn" href="http://github.com/tarantool/tarantool/">
        <i class="fa fa-github fa-lg"></i>
        GitHub
      </a>
    </div>
  </div>
</section>

<section class="b-block b-features">
  <div class="b-block-wrapper">
    <h2 class="b-section-title">Features</h2>
    <ul class="b-features-list">
    {% for item in page.blocks.features %}
      <li class="b-features-list-item">{{ item }}</li>
    {% endfor %}
    </ul>
  </div>
</section>

<section class="b-gray_block b-support">
  <div class="b-block-wrapper">
    <h2 class="b-section-title">Support</h2>
    <ul class="b-support-list">
    {% for item in page.blocks.support %}
      <li class="b-support-list-item">{{ item }}</li>
    {% endfor %}
    </ul>
  </div>
</section>

<section class="b-block b-dash">
  <div class="b-block-wrapper">
    <div class="b-cols p-2col">
      <div class="b-cols-item">
        <h2 class="b-section-title">Media</h2>
        <ul class="b-news-list">
        {% for item in page.blocks.media %}
          <li class="b-news-list-item">
            <div class="b-date"><span>{{ item[2] }}</span>{{ item[3] }}</div>
            <h3 class="b-news-list-item-title">
              <a href="{{ item[1] }}" class="b-news-list-item-title-url" target="_blank">
                {{ item[0] }}
                <span class="b-news-list-item-title-url-alt b-ellipsis">{{ item[1] | url_split }}</span>
              </a>
            </h3>
          </li>
        {% endfor %}
        </ul>
        <ul class="b-social_block">
          <a href="https://www.facebook.com/TarantoolDatabase/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
          <a href="http://stackoverflow.com/questions/tagged/tarantool">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-stack-overflow fa-stack-1x"></i>
            </span>
          </a>
          <a href="https://twitter.com/kostja_osipov">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
          </a>
        </ul>
      </div>
      <div class="b-cols-item_empty">&nbsp;</div>
      <div class="b-cols-item">
        <a class="twitter-timeline"
           href="https://twitter.com/hashtag/tarantool"
           data-widget-id="560794185742442496">#tarantool Tweets
        </a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
      </div>
    </div>
  </div>
</section>

<section class="b-gray_block b-customers">
  <div class="b-block-wrapper">
    <h2 class="b-section-title">Our users</h2>
    <div class="b-cols">
      <div class="b-cols-item">
        <a href="http://mail.ru" class="b-cust_logo i-mailru"></a>
      </div>
      <div class="b-cols-item-empty">&nbsp;</div>
      <div class="b-cols-item">
        <a href="http://badoo.com" class="b-cust_logo i-badoo"></a>
      </div>
      <div class="b-cols-item-empty">&nbsp;</div>
      <div class="b-cols-item">
        <a href="http://avito.ru" class="b-cust_logo i-avito"></a>
      </div>
      <div class="b-cols-item-empty">&nbsp;</div>
      <div class="b-cols-item">
        <a href="http://qiwi.ru" class="b-cust_logo i-qiwi"></a>
      </div>
      <div class="b-cols-item-empty">&nbsp;</div>
      <div class="b-cols-item">
        <a href="http://wallarm.com" class="b-cust_logo i-wallarm"></a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{# vim: syntax=htmldjango ts=2 sts=2 sw=2 expandtab #}
