.enterprise-icon {
  .icon(114px, 118px, @enterprise-icon-small);

  @media @medium-screen {
    .icon(183px, 190px, @enterprise-icon-big);
  }
}

.b-enterprise-downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 30px;
  background: #1f1e1e;
  border-radius: 4px;

  &-icon {}
  &-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
    margin: 20px 0 15px;
  }

  &-description {
    font-size: 18px;
    line-height: 1.61;
    text-align: center;
    color: #ffffff;
  }

  &-buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &-button {
    width: 100%;
    height: auto;
    font-size: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px;
    margin: 6px 0;
    background-color: @red-color;
    color: #ffffff;

    &:hover {
      background-color: @light-red-color;
    }
  }

  @media @mobile-horizontal-screen {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    // max-width: 508px;

    &-icon {
      width: 30%;
    }

    &-text-group {
      width: 70%;
    }

    &-buttons-container {
      width: 100%;
      justify-content: space-between;
    }

    &-button {
      width: calc(~'50% - 5px');
    }

    &-title {
      font-size: 30px;
      margin: 0 0 5px;
    }

    &-title,
    &-description {
      text-align: left;
    }
  }

  @media @medium-screen {
    flex-direction: column;
    height: 200px;

    &-buttons-container {
      width: 70%;
    }

    &-title {
      margin: 10px 0;
    }
  }

  @media @large-screen {
    // max-width: 800px;

    &-title {
      font-size: 42px;
    }

    &-description {
      font-size: 20px;
    }

    &-buttons-container {
      margin-top: 0;
    }
  }
}
