ol, ul {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

h4, h5, h6 {
    font-weight: bold;
}

.b-tcontents .b-block-wrapper {
    padding-top:35px;
}
.toctree-wrapper>ul,
.toctree-l1>ul {
    list-style:none;
}
.toctree-wrapper>ul {
    margin:0 0 0 70px;
}
.toctree-l1 {
    margin:0 0 10px 0;
}
li.toctree-l1>a {
    color:#168de2;

    font-size:20px;
    margin:0;
    text-decoration:none;
}
li.toctree-l1>a:hover {
    text-decoration:underline;
}
.toctree-l1>ul {
    padding:6px 0 0 18px;
    margin-top: 10px;
}
.toctree-l2 {
    font-size:16px;
    color:#797979;
    line-height:1.2em;
    padding:0 0 8px 0;
}
.toctree-l2 a {
    color:inherit;
}
.toctree-l2:before {
    content:'-';
    display:inline-block;
    float:left;
    margin:0 0 0 -11px;
}
.b-tcontents_full-list,
.b-tcontents_full-sublist {
    margin:0;
    padding:0;
    display:block;
    list-style:none;
}
.b-tcontents_full-list,
.b-tcontents_full-sublist {
    list-style:none;
}
.b-tcontents_full-list {

}
.b-tcontents_full-list-item {
    margin:0 0 28px 0;
}
.b-tcontents_full-list-item-title {
    color:#404040;
    font-size:16px;
    margin:0;
}
.b-tcontents_full-list-item-title a {
    color:inherit;
    text-decoration:none;
}
.b-tcontents_full-list-item.p-active .b-tcontents_full-list-item-title a {
    color:#168de2;
    text-decoration:underline;
}
.b-tcontents_full-list-item-desc {
    color:#767676;
    font-size:12px;
    padding:0;
}
.b-tcontents_full-sublist {
    padding:14px 0 0 18px;
}
.b-tcontents_full-sublist-item {
    font-size:12px;
    color:#404040;
    line-height:1.2em;
    padding:0 0 8px 0;
}
.b-tcontents_full-sublist-item a {
    color:#168de2;
}

.toctree-wrapper>ul {
    margin:0;
    padding:0;
    display:block;
    list-style:none;
}

.toctree-l2:before {
    content:'-';
    display:inline-block;
    float:left;
    margin:0 0 0 -11px;
}

article>div.section>h1 {
    visibility: hidden;
    margin: 0;
    font-size: 0;
}

.b-article p {
    padding: 0 0 10px 0;
}
.b-article {
    line-height: 1.3em;
}
.b-article h2 {
    font-size: 23px;
    margin: 16px 0;
}
a.headerlink {
    margin: 5px;
    font-size: 16px;
}
.p-documentation_in .b-section-title {
    margin:0 0 17px 0;
}
.p-documentation_in .b-block-wrapper {
    padding: 20px 0 21px 0;
}

.faq tr.field-even td {
    padding-bottom: 20px;
}

.b-prev,
.b-next {
    display:inline-block;
    background:#ececec;
    color:#404040;
    font-size:14px;
    text-decoration:none;
    padding:3px 11px 4px 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-width: 200px;
}
.b-prev:hover,
.b-next:hover {
    text-decoration:none;
    color:#404040;
}
.b-prev:before,
.b-next:after {
    vertical-align:middle;
    margin:0 9px 0 0;
    content:'';
    display:inline-block;
    width: 5px;
    height: 10px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKBAMAAACOF4kDAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAAC3RSTlMAs62OCIV8cj80DyOnhogAAAAlSURBVAjXY2DgMmBgcBZgYAlUYGATmsBQKMEAwiA2SAwkB1IDAFc2BGddDNbMAAAAAElFTkSuQmCC') -0px -0px no-repeat;
}

.b-next:after {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin:0 0 0 9px;
}
.b-next {
    float: right;
}
.b-page_over-head {
    margin: -13px 0 0 0;
}
.b-page_over-tail {
    margin: 25px 0 -50px 0;
}

.b-article ul {
    margin: 10px 0 10px 0;
    padding: 0 0 0 30px;
}

.b-article p {
    padding: 7px 0 7px 0;
}

.b-article h2,
.b-article h3,
.b-article h4,
.b-article h5,
.b-article h6 {
    margin: 25px 0 10px -25px;
    font-weight: bold;
    padding-left: 25px;
    text-indent: -12px;
}

.b-article ol {
    padding-left: 30px;
}

.b-page_header {
    margin-bottom: 10px;
    padding-top: 4px;
}

.headerlink {
/*  position: absolute;*/
  left: -0.5em;
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

[id ^= "lua-object"   ],
[id ^= "lua-function" ],
[id ^= "lua-varfunc"  ],
[id ^= "lua-data"     ],
[id ^= "lua-объект"   ],
[id ^= "lua-функция"  ],
[id ^= "lua-данные"   ],
[id ^= "c."           ],
[id ^= "_CPP"         ],
h2, h3, h4, h5, h6 {
    margin-left: -25px;
}

[id ^= "lua-object"   ]:hover .headerlink,
[id ^= "lua-function" ]:hover .headerlink,
[id ^= "lua-varfunc"  ]:hover .headerlink,
[id ^= "lua-data"     ]:hover .headerlink,
[id ^= "lua-объект"   ]:hover .headerlink,
[id ^= "lua-функция"  ]:hover .headerlink,
[id ^= "lua-данные"   ]:hover .headerlink,
[id ^= "c."           ]:hover .headerlink,
[id ^= "_CPP"         ]:hover .headerlink,
h2:hover                      .headerlink,
h3:hover                      .headerlink,
h4:hover                      .headerlink,
h5:hover                      .headerlink,
h6:hover                      .headerlink{
    opacity: 1;
}

dt[id ^= "lua-object"   ],
dt[id ^= "lua-function" ],
dt[id ^= "lua-varfunc"  ],
dt[id ^= "lua-data"     ],
dt[id ^= "lua-объект"   ],
dt[id ^= "lua-функция"  ],
dt[id ^= "lua-данные"   ],
dt[id ^= "c."           ],
dt[id ^= "_CPP"         ]  {
    margin-bottom: 10px;
}

table.docutils.footnote {
    font-size: 14px;
}

tr.field td p {
    padding: 0px;
}

.b-cols_content {
    width:960px;
    margin:0 auto;
    padding:0 0 30px 0;
    position:relative;
}
.b-cols_content_left {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 295px;
    padding: 15px 15px 0 700px;
    margin-left: -700px;
    overflow: auto;
}
.b-cols_content_left_stuck {
    position: fixed !important;
}
.b-cols_content_right {
    float:right;
    width:100%;
    margin:0 0 0 -295px;
}
.b-cols_content_right-slot {
    margin:0 0 0 340px;
    padding:18px 0 0 0;
}

.p-cols_design .b-wrapper {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAEAAAAAARAQMAAABnOfukAAAABlBMVEUAAAD19fWydBufAAAAAXRSTlMAQObYZgAAADZJREFUaN7t0gEBAAAIAiD/n7YBTRA2kO4InwDruiMIgAAIgAAIgAAIsK47ggAIgAAIgAAIwAHksoxHlAvP9AAAAABJRU5ErkJggg==') 50% -0px repeat-y;
}

.b-cols_content_left .toctree-l1 {
    margin-bottom: 5px;
}

.b-cols_content_left .toctree-l1>ul {
    margin-top: 0px;
}

div.toctree-wrapper {
    padding: 0px 0px 0px 20px;
}

div.admonition {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

div.admonition.note {
    background: rgb(223,223,223);
}

div.admonition.warning {
    background: rgb(255,228,228);
}

div.admonition.fact {
    background: rgb(255,255,204);
}

p.admonition-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 10px 0;
}

p.admonition-title .fa {
    margin: 0 10px 0 0;
}

.descname {
    font-weight: 600;
}

dd table.field-list {
    margin-top: 10px;
}

td.field-body {
    padding-left: 10px;
    padding-bottom: 10px;
}

th.field-name {
    text-align: left;
    font-weight: normal;
}

table.docutils.field-list {
    font-size: 13px;
}

div.table tbody {
    vertical-align: middle;
    text-align: center;
}

div.table td {
    padding: 5px 15px;
}

p.caption {
    padding-bottom: 22px;
    font-size:      24px;
    font-weight:    bold;
}

#search-results h2 {
    margin-left: 0px;
}

ul.search {
    margin-left: 10px;
}

ul.search li div.context {
    margin-top: 5px;
}

div.b-cols_content_left #searchbox {
    width: 267px;
}

div.b-cols_content_left .b-search-text {
    width: 240px;
}

.b-documentation_top .b-section-title {
    float: left;
    max-width: 820px;
}

.b-documentation_top .b-search {
    float: right;
}

.b-cols_content_left>.b-menu-toc {
    float: left;
    position: relative;
}

.b-switcher-item-url {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.b-tab_switcher {
    display:inline-block;
    border:2px solid #797979;
    background:#fff;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    font-size: 0;
    padding: 0px !important;
    margin: 0;
}

.b-tab_switcher-item {
    display:inline-block;
    font-size:16px;
    color:#262626;
    border-right:2px solid #797979;
    padding: 0px !important;
}
.b-tab_switcher-item:last-child {
    border: 0;
}
.b-tab_switcher-item-url {
    display:inline-block;
    color:#797979;
    text-decoration:none;
    padding:8px 19px;
    text-transform:uppercase;
}
.b-tab_switcher-item-url:hover {
    background:#c9c9c9;
    color:#fff
}
.b-tab_switcher-item-url.p-active {
    background:#797979;
    color:#fff;
}
.b-tab_switcher-item:first-child .b-tab_switcher-item-url {
    -webkit-border-radius: 4px 0 0 0px;
    -moz-border-radius: 4px 0 0 0px;
    border-radius: 4px 0 0 0px;
}
.b-tab_switcher-item:last-child .b-tab_switcher-item-url {
    -webkit-border-radius: 0 4px 0px 0;
    -moz-border-radius: 0 4px 0px 0;
    border-radius: 0 4px 0px 0;
}

.b-documentation-tab-content {
    border: 2px solid #797979;
    margin-top: -2px;
    padding: 5px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    overflow-y: scroll;
}

.b-documentation-tab div {
    height: 100%;
    overflow-y: hidden;
}

/*
  Classes whose names start with "ccode" are a Tarantool extension,
  see comment in conf.py file: Tarantool custom roles
*/

.ccode, .ccodeb, .ccodei, .ccodebi {
    white-space: pre;
    font-size: 14px;
    font-family: monospace;
}

.ccodeb, .ccodebi {
    font-weight: bold;
}

.ccodei, .ccodebi {
    font-style: italic;
}

.ccodegreen, .ccodebi {
    color: green;
}

.ccodeblue, .ccodebi {
    color: blue;
}

.ccodered, .ccodebi {
    color: red;
}



.leftaligned {
    text-align: left
}

/*
.line-block {
    padding: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: left;
    margin: 5px 0px;
    background: #0d0d0d;
    overflow-x: scroll;
}

.line-block span {
    color: #f8f8f2;
    font-size: 13px;
}

.line-block > .line {
    color: #f8f8f2;
    font-size: 13px;
}
*/

p > code.docutils {
    padding: 0px 1px 0px 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ECECEC;
}

li > code.docutils {
    padding: 0px 1px 0px 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ECECEC;
}

ul.first.last.simple {
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.method code.descclassname {
    font-style: italic;
}

.toctree-l1 li {
    list-style-type: none;
}

table.left-align-column-1 td {
    text-align: left
}

table.left-align-column-2 td + td {
    text-align: left
}

table.left-align-column-3 td + td + td {
    text-align: left
}

table.left-align-column-4 td + td + td + td {
    text-align: left
}

table.right-align-column-1 td {
    text-align: right
}

table.right-align-column-2 td + td {
    text-align: right
}

table.right-align-column-3 td + td + td {
    text-align: right
}

table.right-align-column-4 td + td + td +td {
    text-align: right
}

table.top-align-column-1 td {
    vertical-align: top
}

table.border-0-column-1 td {
    border: 0px
}

table.border-0-column-2 td {
    border: 0px
}

.b-article ol.arabic {
    list-style-type: decimal
}

.b-article ul.simple {
    list-style-type: disc
}

.b-doc-language_selector {
    display: table;
    list-style: none;
    text-align: right;
    float: right;
}

.b-doc-language_selector-text {
    display:inline;
    padding-top: 4px;
    display: table-cell;
    vertical-align: top;
}

.b-doc-language_selector-list {
    margin:0;
    padding:0;
    margin-bottom:-3px;
    text-align: right;
    display: table-cell;
}

.b-doc-language_selector-item {
    position:relative;
    display:inline-block;
    margin-right:-0.29em;
    padding-right:27px;
    vertical-align:top;
}

.b-doc-language_selector-item:after {
    content:'/';
    font-size:18px;
    display:inline-block;
    position:absolute;
    right:11px;
    top:3px;
}

.b-doc-language_selector-item:first-child {
    padding-left: 9px;
}

.b-doc-language_selector-item:last-child {
    padding-right: 0px;
    margin-right:  0px;
}

.b-doc-language_selector-item:last-child:after {
    content: '';
}

.b-doc-language_selector-item-url,
.b-doc-language_selector-item-url:hover {
    text-decoration:none;
}

.b-doc-language_selector-item-url {
    color: inherit;
}

.b-doc-language_selector-item-url:hover {
    background: #dbdbdb;
    color: #3366bb;
}

.b-doc-language_selector-item-url {
    display:inline-block;
    background: #404040;
    color: #ffffff;
    font-size:14px;
    padding: 3px 8px 5px 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index:1;
    position:relative;
    border-color: #dbdbdb;
    border-width: 1px;
    border-style: solid;
}

.b-doc-language_selector-item-url.p-active {
    pointer-events: none;
    background:#ececec;
    color:#404040;
}

.b-page_over-head,
.b-page_over-tail {
    width: 100%;
    min-width: 100%;
    display: table;
}

.b-page_over-prev,
.b-page_over-lang,
.b-page_over-next {
    display: table-cell;
}

.b-page_over-lang-list {
    margin: 0px;
}

.b-page_over-lang-item {
    position:relative;
    display:inline-block;
    margin-right:-0.29em;
    padding-right:27px;
    vertical-align:top;
}

.b-page_over-lang-item:after {
    content:  '|';
    font-size:18px;
    display:  inline-block;
    position: absolute;
    right:    11px;
    top:      3px;
}

.b-page_over-lang-item:first-child {
    padding-left: 9px;
}

.b-page_over-lang-item:last-child {
    padding-right: 0px;
    margin-right:  0px;
}

.b-page_over-lang-item:last-child:after {
    content: '';
}

.b-page_over-lang-url {
    display: inline-block;
    background: #ececec;
    color: #404040;
    font-size: 14px;
    text-decoration: none;
    padding: 3px 11px 4px 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
}

.b-page_over-lang {
    vertical-align: middle;
}

.b-page_over-prev {
    float: left;
}

.b-page_over-next {
    float: right;
}

.b-documentation_top h2 {
    font-weight: normal;
}

/* for Generated Index */

.b-doc-genindex h2 {
    -webkit-margin-before: 20px;
    -webkit-margin-after: 20px;
    margin-before: 20px;
    margin-after: 20px;
    margin-left: 0px;
}

.b-doc-genindex .genindextable dl {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-before: 0px;
    margin-after: 0px;
}

.b-doc-genindex .genindextable dt {
    padding-bottom: 2px;
}
.b-doc-genindex .genindextable dt:last-child {
    padding-bottom: 0px;
}

/**/

dt[id ^= "lua-object"   ] dd,
dt[id ^= "lua-function" ] dd,
dt[id ^= "lua-varfunc"  ] dd,
dt[id ^= "lua-data"     ] dd,
dt[id ^= "lua-объект"   ] dd,
dt[id ^= "lua-функция"  ] dd,
dt[id ^= "lua-данные"   ] dd,
dt[id ^= "c."           ] dd,
dt[id ^= "_CPP"         ] dd  {
    margin-start: 20px;
}

.b-doc-flink {
    display: table;
}

.b-doc-flink_left {
    display: table-cell;
    width:   25px;
}

.b-doc-flink_right {
    font-size: 14px;
    display: table-cell;
}

.b-doc-flink_right em,
.b-doc-flink_right code,
.b-doc-flink_right span,
.b-doc-flink_right big {
    font-size: inherit;
}

.b-doc-hlink {
    display: table;
}

.b-doc-hlink_left {
    display: table-cell;
    width:   25px;
}

.b-doc-hlink_right {
    display: table-cell;
}

.b-doc-hlink_right em,
.b-doc-hlink_right code,
.b-doc-hlink_right span,
.b-doc-hlink_right big {
    font-size: inherit;
}

.b-doc-param {
    padding: 0 0 10px 0;
}

.b-doc-param_left  p,
.b-doc-param_right {
    display:   block;
    font-size: 14px;
    padding:   0 0 5px 0;
}

.b-doc-param_left {
    font-weight: bold;
}

.b-doc-param_right {
    padding-left: 10px;
}

.b-doc-param_right ul {
    margin: 0;
}

ul.search {
    padding: 0 0 0 20px;
    margin:  0 0 16px 0;
}

.search li {
    padding: 0 0 8px 0;
}

[class|=highlight],
.highlight {
    margin-top: 0px;
    margin-bottom: 20px;
}

.highlight .highlight {
    padding: 5px 10px;
    margin-bottom: 0px;
}

dd {
    margin-left: 20px;
}

dl {
    margin-top: 0;
}

.b-cols_content_left ul {
    margin-top: 20px;
}

li p {
    padding: 0 0 8px 0;
}

li [class|=highlight],
li .highlight  {
    margin: 0 0 8px 0;
}

ul p:last-child,
dd p:last-child,
.admonition p:last-child {
    padding: 0;
}

li dl {
    margin: 0px;
}

.b-doc-param:last-child {
    padding: 0;
}

table.docutils {
    margin-bottom: 20px;
}

.b-path-list-item-url,
.b-path_current {
    max-width: 150px;
}

.current         ul,
.toctree-wrapper ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.current         li:last-child,
.toctree-wrapper li:last-child {
    padding-bottom: 0px;
}

.current         li.toctree-l1,
.toctree-wrapper li.toctree-l1 {
    margin-bottom: 7px;
}

.toctree-wrapper .caption {
    padding-bottom: 7px;
}

.toctree-wrapper>ul {
    margin-left: 15px;
}

.b-documentation .b-search {
    margin-bottom: 20px;
}

.icon {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.icon-minus {
    border: 1px solid #aaa;
    width: 7px;
    height: 7px;
    position: relative;
    top: 0;
    left: 0;

}
.icon-minus:after {
    background-color: #aaa;
    width: 7px;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
}

.icon-plus {
    border: 1px solid #aaa;
    width: 7px;
    height: 7px;
    position: relative;
    top: 0;
    left: 0;
}
.icon-plus:after {
    background-color: #aaa;
    width: 7px;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
}
.icon-plus:before {
    background-color: #aaa;
    width: 1px;
    height: 7px;
    position: absolute;
    top: 0px;
    left: 3px;
    content: "";
}

.b-cols_content_left ul {
}

.b-cols_content_left li {
    list-style: none;
}

.b-cols_content_left li:before {
    content: none;
}

.icon {
    position: relative;
}

@media screen and (max-width: 992px) {
    #mobile-checker { display: none !important; }
}

dd {
    margin: 10px !important;
}

.headerlink .fa-link {
    visibility: visible;
}

.headerlink i:hover {
    cursor: pointer;
}
.b-menu-toc i:hover {
    cursor: pointer
}
