@doc-page-content-headers-height: 150px;

.b-cols_content {
  display: block;
  margin: 0;
  padding: 0;

  @media @large-screen {
    display: flex;
    height: calc(~"100vh" - @header-and-footer-height);
  }

  @media @xlarge-screen {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.b-cols_content_right {
  padding: 0;
  margin: 0 15px 10px;

  &-slot {
    height: 100%;
  }

  .b-article {
    overflow-y: auto;
    height: 88%;
    margin-left: -25px; 
    padding-left: 25px; // Crutch, fixes bug with overflow   
  }

  .b-cols_content_left {
    margin: auto -15px;
    height: auto;
  }

  .page-title {
    font-size: 20px;
    font-weight: bold;
    color: #262626;
    margin: 15px 0;
  }

  @media @medium-screen {
    .b-cols_content_left {
      margin: 0 0 0 -15px;
    }
  }

  @media @large-screen {
    margin: 10px 25px;
    width: 100%;
    max-width: calc(~"100% - 310px"); // 260px - left menu width, 50px - right_slot's margins
    height: calc(~"100%" - 20px);

    .b-article {
      height: calc(~"100%" - @doc-page-content-headers-height);
    }
  }

  @media @xlarge-screen {
    margin: 10px 25px;
    max-width: calc(~"100% - 410px"); // 360px - left menu width, 50px - right_slot's margins

    .page-title {
      font-size: 25px;
    }
  }
}