{% from 'elements.html' import i_header with context %}
{% from 'elements.html' import i_header_dev with context %}
{% from 'elements.html' import i_footer with context %}
{% from 'elements.html' import abspath  with context %}

{% set page = {"slug": "documentation"} %}
{% set script_files = script_files + [
    '_static/searchtools.js',
    '_static/js/stacktable.min.js',
    '_static/js/main.js',
    '_static/js/menu.js',
    '_static/js/mobile_menu.js',
    '_static/js/headers.js',
    '_static/js/os-detect.js',
    '_static/js/jquery.sticky-kit.min.js',
    '_static/js/ua-parser.min.js',
    '_static/js/documentation-main-page.js',
    '_static/js/copy-button.js',
    '_static/js/os-installation-pages.js',
    '_static/js/rocks-page.js',
    '_static/js/version-switcher.js',
    '_static/js/docs-page-path.js',
    '_static/js/connectors-page.js',
    '_static/js/documentation-scroll.js',
    '_static/js/tarantool-io-main.js'
] %}
{% set css_files = [
    '_static/design.css',
] + css_files %}

{% set favicon -%}
  <link rel="icon" type="image/png" sizes="16x16"   href="{{ abspath("_static/favicon/favicon-16x16.png"  ) }}">
  <link rel="icon" type="image/png" sizes="32x32"   href="{{ abspath("_static/favicon/favicon-32x32.png"  ) }}">
  <link rel="icon" type="image/png" sizes="96x96"   href="{{ abspath("_static/favicon/favicon-96x96.png"  ) }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ abspath("_static/favicon/favicon-192x192.png") }}">
{%- endset %}

{% set opengraph -%}
  {% set canonical_url = [
    use_opensearch, language, '/', pagename, file_suffix
  ] | join('') %}
  {% set logo_url = [
    use_opensearch, language, '/_static/images/tarantool.png'
  ] | join('') %}

  <meta property="og:title"       content="{{ title }}">
  <meta property="og:type"        content="website">
  <meta property="og:url"         content="{{ canonical_url }}">
  <meta property="og:image"       content="{{ logo_url }}">
  {% if pagename not in ['index'] -%}
  <meta property="og:description" content="Get your data in RAM. Get compute close to data. Enjoy the performance.">
  {%- endif %}
{%- endset %}

{% set is_website  = website.get(pagename, False) %}
{% set is_package_page  = packages.get(pagename, False) %}
{% set is_tarantool_io = tarantool_io.get(pagename, False) %}
{% set is_mainpage = pagename in ["doc/1.7/index", "doc/1.7/singlehtml", "doc/1.6/index", "doc/1.6/singlehtml"] %}

{% set pagename_stripped = pagename | replace("/", "_") %}
{% set body_suffix = "" if is_website else " b-doc-%s" % pagename_stripped %}
{% set body_class = "p-main" if (is_mainpage or is_website) else "p-cols_design" %}
{% set body_class = body_class + body_suffix %}

{% set header_suffix = "" if is_mainpage or is_website else "toggle-navigation" %}
{% set header_class = "b-section-title b-ellipsis " + header_suffix %}

{% set content_pane %}
  <article class="b-article">
    {% if pagename == "doc/1.7/singlehtml" %}
      <div class="toctree-wrapper compound">
        {{ toctree(maxdepth=2, collapse=false) }}
      </div>
    {% endif %}
    {% if not is_website and language == "ru" %}
      <div class="admonition note">
        <p class="first admonition-title">Замечание</p>
        <p class="last">
          Документация находится в процессе перевода и может
          отставать от английской версии.
        </p>
      </div>
    {% endif %}
    {{ body }}
  </article>
{% endset %}


<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="CR40jzpLISkiUAw2MrH2zHSDNVmzyK88Nj7Crmx_RxQ" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="search" type="application/opensearchdescription+xml"
          title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}"
          href="{{ pathto('_static/opensearch.xml', 1) }}"/>
    {{  favicon  }}
    {{ opengraph }}
    <title>{{ title | striptags }}</title>
    {%- for scriptfile in script_files %}
      <script type="text/javascript" src="{{ abspath(scriptfile) }}"></script>
    {%- endfor %}
    
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {%- for cssfile in css_files %}
      <link rel="stylesheet" href="{{ abspath(cssfile) }}">
    {%- endfor %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
    {% if is_tarantool_io %}
    {% endif %}
    
    {% block extrahead %}
    <!--[if lt IE 9]>
      <script src="/js/ie8.js"></script>
      <link rel="stylesheet" href="/theme/ie8.css" />
    <![endif]-->
    {% include "script" ignore missing %}
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:       '{{ url_root }}',
        VERSION:        '{{ release|e }}',
        COLLAPSE_INDEX:  false,
        FILE_SUFFIX:    '{{ '' if no_search_suffix else file_suffix }}',
        HAS_SOURCE:      {{ has_source | lower }}
      };
      {# Uncomment this, to enable disqus everywhere #}
      {# var disqus_developer = 1;                   #}
      var disqus_config = function () {
          this.page.identifier = "{{ pagename }}";
          this.language        = "{{ language }}"
      };
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = []; t.ready = function(f) { t._e.push(f); };
        return t;
      }(document, "script", "twitter-wjs"));
    </script>
    {% endblock extrahead %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw1KrcWzDXCSLulEfazlj9JtZKayJd4_s" async defer></script>
  </head>
  <body class="{{ body_class }}">
    <div class="b-wrapper">
      <!-- HEADER > -->
      {{ i_header() }}
      {% if not is_tarantool_io %}
        {{ i_header_dev() }}
      {% endif %}
      <!-- < HEADER -->
      {% if pagename in ["live-demo"] %}
      <div class="b-content b-clearbox" style="margin-top: -10px;">
      {% else %}
      <div class="b-content b-clearbox">
      {% endif %}
        {% block body %}
        {% endblock %}
      </div>
      <!-- FOOTER > -->
      {{ i_footer() }}
      <!-- < FOOTER -->
    </div>
    <div id="mobile-checker"></div>
    {% if pagename in ["index"] %}
      <script src="{{ abspath('_static/js/carousel-main-page.js') }}"></script>
    {% endif %}
  </body>
</html>

{# vim: set syntax=jinja ts=2 sts=2 sw=2 expandtab : #}
