{%- extends "layout.html" %}

{% from 'elements.html' import breadcrumbs       with context %}
{% from 'elements.html' import navbar            with context %}
{% from 'elements.html' import language_selector with context %}

{% block body %}
  {% if not is_website %}
    <section class="b-block-lightgray b-documentation_top b-clearbox p-documentation_in">
      <div class="b-block-wrapper">
        <h2 class="{{ header_class }}" title="{{ title }}"> {{ title }} </h2>
      </div>
    </section>
    {% if is_mainpage %}
      <section class="b-block b-documentation">
        <div class="b-block-wrapper">
          {{ content_pane }}
        </div>
      </section>
    {% else %}
      <div class="b-cols_content b-clearbox">
        <div class="b-cols_content_left">
          <div class="b-menu-toc">
            {{- toctree(maxdepth=-1, collapse=false, includehidden=true) }}
          </div>
        </div>
        <div class="b-cols_content_right">
          <div class="b-cols_content_right-slot">
            {{- breadcrumbs() -}}
            {{  content_pane   }}
            {% if pagename not in ["search", "genindex", "modindex"] %}
            {% endif %}
            {{- navbar(False) -}}
          </div>
        </div>
      </div>
    {% endif %}
  {% else %}
    {{ body }}
  {% endif %}
{% endblock %}

{# vim: syntax=htmldjango ts=2 sts=2 sw=2 expandtab #}
