name: Custom-deploy-branch

on:
  workflow_dispatch:
    inputs:
      env_name:
        description: 'Enter unique name (version) of deployment'
        required: True
      cartridge:
        description: 'Cartridge branch or commit'
        required: false
      cartridge_cli:
        description: "Cartridge-cli branch or commit"
        required: false
      grafana:
        description: "Grafana branch or commit"
        required: false
      luatest:
        description: "Luatest branch or commit"
        required: false
      metrics:
        description: "Metrics branch or commit"
        required: false
      k8s_operator:
        description: "Kubernetes branch or commit"
        required: false
      cpp_driver:
        description: "Cpp driver branch or commit"
        required: false

jobs:
  custom-deploy-branch:
    runs-on: ubuntu-latest
    container: tarantool/doc-builder:v2
    env:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      AWS_DEFAULT_REGION: ${{secrets.AWS_DEFAULT_REGION}}
      S3_ENDPOINT_URL: ${{secrets.S3_ENDPOINT_URL}}
      S3_UPLOAD_PATH: ${{secrets.S3_UPLOAD_PATH}}
      TARANTOOL_UPDATE_KEY: ${{secrets.TARANTOOL_UPDATE_KEY}}
      TARANTOOL_UPDATE_URL: ${{secrets.TARANTOOL_DEV_UPDATE_URL}}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Fetch submodules
        run: git fetch --recurse-submodules

      - name: Set branch name from source branch
        run: echo "BRANCH_NAME=${INPUT_ENV_NAME}" >> $GITHUB_ENV

      - name: Start dev server deployment
        uses: bobheadxi/deployments@v0.5.2
        id: deployment
        with:
          step: start
          token: ${{secrets.GITHUB_TOKEN}}
          env: "branch-${{env.BRANCH_NAME}}"
          ref: ${{github.head_ref}}

      - run: cmake .
      - run: make pull-modules
      - run: make build-modules
      - run: make json
      - run: make json-ru
      - run: curl ${{secrets.WAKEUP_URL}} --connect-timeout 300 --retry 3 --retry-delay 30 >> /dev/null
      - run: bash upload_output.sh

      - name: update deployment status
        uses: bobheadxi/deployments@v0.5.2
        with:
          step: finish
          token: ${{secrets.GITHUB_TOKEN}}
          status: ${{job.status}}
          deployment_id: ${{steps.deployment.outputs.deployment_id}}
          env_url: https://tarantool-develop.herokuapp.com/doc/${{env.BRANCH_NAME}}
