name: Update main translation branch

on:
  workflow_dispatch:
  push:
    branches:
      - latest
    paths:
      - 'doc/**/*.rst'
      - 'locale/ru/**/*.po'
      - 'crowdin.yaml'
jobs:
  update-translations:
    runs-on: ubuntu-latest
    container: tarantool/doc-builder:fat-4.1

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Create Makefile
      run: cmake .

    - name: Update pot files
      run: make update-pot

    - name: Push Pot-files to crowdin
      uses: crowdin/github-action@1.0.21
      with:
        upload_sources: true
        upload_translations: true
        import_eq_suggestions: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
